*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.my-dropdown{
    position: relative;

}


img{
    object-fit: cover;
}

.my-dropdown:hover .my-dropdown-container{
    display: block;
}

.my-dropdown-container{
    display:  none;
    z-index: 20;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: red;
    color: white;
    border-radius: 5px;
    width: max-content;

}
/* 
.my-dropdown-container::after{
    content: " ";
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 20%;
    z-index: 0;
    transform:translateY(-5px) translateX(10px) rotate(45deg);
    transform: rotate(45deg);
    background-color: #0B0A0D;
} */

.bg-dark{
    background-color: #0B0A0D;
}


.brands-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.brand{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    border: .5px solid rgba(0, 0, 0, 0.171);
    margin: 10px;
    transition: all .5s;
    border-radius: 10px;
}
.brand:hover{
    background-color: #0B0A0D;
}

.dropdown-list{
    background-color: #0B0A0D;
    /* position: absolute; */
    z-index: 20;
    top: 0;
    left: 0;
    border-radius: 5px;
    transition: all .5s;
    width: max-content;

}

.dropdown-list-item{
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all .5s;
}

.dropdown-list-item:hover{
    background-color: var(--primary-100);
}

:root {
    --primary-100: #E37B66;
    --primary-200: #DE4121;
    --secondary-100: #AB321A;
    --secondary-200: #752212;
  }

.contact-us-form{
    background-color: #7523120a;
    border-radius: 5%;
}
footer{
    background-color: #0B0A0D;
}

.bg-sec{
    background-color: var(--secondary-100);
    color: #fff;
}

.btn.bg-sec:hover{
    background-color: var(--secondary-200);
    border: none;
    outline: none;
    color: #fff;
}

.color-primary{
    color: var(--primary-100);
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}



header{
    width: 100vw;
    height: fit-content;
    position: relative;
    background-color: #302c2c;
    overflow: hidden;
    margin-bottom: 20px;
    

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:soft-light;

}

.contact-p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 100px;
    color: white;

    background-color: #302c2c;
    background-image: url("../images/gandg-office.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:soft-light;
}


.brands-p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 100px;
    color: white;

    background-color: #302c2c;
    background-image: url("../images/sven-brandsma-GZ5cKOgeIB0-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:soft-light;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width : 600px){
    header{
        height: fit-content;
    }

    .nav-list{
        display: none;
    }

    .c-content p{
        width: 100%;
        display: none;
    }

    .c-content h1{
        font-size: 2em;
    }

    .c-content{
        height: 75vh !important;
    }
    
    .c-container{
        position: relative;
        width: 100%;
        height: 75vh;
    }

    .carousel{
        height: 75vh !important;
    }
   
}


.paralax-container{
    padding: 100px 100px;
    color: white;
    background-color: #302c2c;
    background-image: url("../images/gandg-office.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:soft-light;
}


.paralax-container-2{
    padding: 100px 100px;
    color: white;
    background-color: #302c2c;
    background-image: url("../images/sven-brandsma-GZ5cKOgeIB0-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:soft-light;
}

nav{
    width: 100vw;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;

    transition: all .8s;
}

nav div .nav-item{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10%;
    transition: background-color .5s;
    margin-right: 10px;
    border: none;
    outline: none;
}

nav div .nav-item a{
    text-decoration: none;
    color: white;
}

nav div .nav-item:hover {
    background-color: var(--primary-100);
    text-decoration: none;
    color: white;
}

.brand-name:hover{
    color: var(--primary-100);
    text-decoration: none;
}

.brand-name {
    color: var(--primary-100);
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    transition: transform .3s;
}

nav .brand-name:hover{
    transform: scale(1.1);
}

.hero-container{
    height: 100%;
}


.c-container{
    position: relative;
    width: 100%;
    height: 100vh;
}

.c-content{
    position: absolute;
    color: white;
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.c-backdrop{
    position: absolute;
    top: 0;
    z-index: 8;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
}

.hero-container h1{
    text-transform: capitalize;
}

.hero-container p{
    width: 40%;
}

#productsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 25%;
}

.productsItem{
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 300px !important;
    height: 500px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #0b0a0d46;
    width: 5px;
}



.productsItem img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all;
    transition-duration: .5s;
}
.productsItem img:hover{
    transform: scale(1.05)
}

.productsItem h5{
   padding: 10px;
}

.productsItem .container {
    overflow-y: scroll;
}

.dBtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    border-radius: 50%;
    background-color: var(--primary-100);
    border: none;
}

.dBtn:hover{
    background-color: var(--primary-200);
}

.w-6{
    width: 16px;
}

.h-6{
    height: 16px;
}

.w-8{
    width: 24px;
}

.h-8{
    height: 24px;
}
#menu-bar{
    display: none;
}
#aside-bar{
    display: none;
}
@media screen and (max-width : 768px) {
    #menu-bar{
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 25%;
        right: 20px;
        z-index: 9999;
    }
    #aside-bar{
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.719);
        height: 100vh;
        width: 0;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999;
        transition-property: width;
        transition-duration:.4s;
        transition-timing-function: ease-out;
    }
}

#hamburger{
    transition-property: all;
    transition-duration:2s;
    transition-timing-function: ease-out;
}

.aside-bar-container{
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aside-bar-container .nav-item{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10%;
    transition: background-color .5s;
    margin-right: 10px;
    border: none;
    outline: none;
}

.aside-bar-container .nav-item a{
    text-decoration: none;
    color: white;
}